header {
    background-color: black;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  footer {
    background-color:black;
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 7vh;
  }
  