
body {
  background-color: #121212;
  color: white;
}

main {
  min-height: 80vh;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.mainpagecontainer {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainpagecontainer h1, h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}


